/**
 * @author Julia Filzinger
 */

@font-face {
    src: url('fonts/PT_Sans-Web-Regular.ttf');
}

@font-face {
    src: url('fonts/PT_Sans-Web-Bold.ttf');
}

* {
    -fx-bg-1: #303030;
    -fx-bg-2: #202020;
    -fx-bg-3: #181818;
    -fx-bg-4: #0a0a0a;
    -fx-cold-800: #00897b;
    -fx-cold-400: #26A69A;
    -fx-cold-200: #80cbc4;
    -fx-warm-800: #d84315;
    -fx-warm-400: #FF7043;

    -fx-warning-1: #C2185B;
    -fx-warning-2: #AFB42B;
    -fx-checked-1: #689F38;
    -fx-neutral-light: #bababa;
}

.root{
    -fx-background-color: -fx-bg-2;
    -fx-font-family: "PT Sans";
}

.button{
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-text-fill: #d84315;
    -fx-font-size: 14;
}

.text-field{
    -fx-background-color: -fx-bg-4;
    -fx-background-radius: 0;
    -fx-text-fill: -fx-cold-400;
}

.text-field.fieldError{
    -fx-border-color: -fx-warning-1;
    -fx-text-fill: -fx-warning-1;
}
.text-field.fieldAutoFilled{
    -fx-border-color: -fx-warning-2;
    -fx-text-fill: -fx-warning-2;
}

.text-field.fieldCorrected{
    -fx-border-color: -fx-checked-1;
    -fx-text-fill: -fx-checked-1;
}

/* style choice box */
.choice-box{
    -fx-background-color: -fx-bg-1;
    -fx-text-fill: -fx-cold-200;
    -fx-background-radius: 0;
    -fx-mark-color: -fx-cold-200;
    -fx-pref-width: 195;
}
.choice-box *:focused{
    -fx-mark-color: -fx-bg-1;
}
.choice-box .label{
    -fx-text-fill: -fx-cold-200;
}
.choice-box .context-menu{
    -fx-background-color: -fx-bg-1;
    -fx-padding: 0;
    -fx-pref-width: 195;
}
.choice-box .menu-item:focused{
    -fx-background-color: -fx-cold-800;
}
.choice-box .menu-item > .label{
    -fx-text-fill: -fx-cold-200;
}
.choice-box .menu-item:focused > .label{
    -fx-text-fill: -fx-bg-1;
}
.choice-box .menu-item:selected > .check{
    -fx-fill: -fx-bg-1;
}

.menuLinkItem:hover{
    -fx-background-color: -fx-bg-3;
}

.menuLinkItem{
    -fx-alignment: BASELINE_LEFT;
}

.bigButton{
    -fx-border-color: -fx-warm-800;
    -fx-border-radius: 100%;
    -fx-background-radius: 100;
    -fx-padding: 5 30;
}

.bigButton:hover{
    -fx-border-color: -fx-warm-400;
    -fx-text-fill: -fx-bg-2;
    -fx-background-color: -fx-warm-400;
}

.bigButton:pressed{
    -fx-border-color: -fx-warm-400;
    -fx-text-fill: -fx-bg-2;
    -fx-background-color: -fx-warm-400;
    -fx-graphic: url('icons/hourglassHg.png');
    -fx-graphic-text-gap: 5;

}

.hButton{
    -fx-border-color: -fx-warm-800;
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-padding: 5 30;
    -fx-text-fill: -fx-warm-800;
}

.hButton:hover{
    -fx-background-color: -fx-warm-800;
    -fx-text-fill: -fx-bg-2;
}

.label{
    -fx-text-fill: -fx-cold-800;
}

.greyLabel{
    -fx-text-fill: -fx-neutral-light;
}

.warningLabel{
    -fx-text-fill: -fx-warning-1;
}

.menuLink{
    -fx-alignment: CENTER;
    -fx-graphic-text-gap: 5;
    -fx-padding: 0 10;
}

.menuLink:hover{
    -fx-text-fill: -fx-warm-400;
}

#saveFile{
    -fx-graphic: url('icons/file.png');
}

#clearAll{
    -fx-graphic: url('icons/x.png');
}

#newEmpty{
    -fx-graphic: url('icons/square.png');
    -fx-graphic-text-gap: 5;
}

#newRand{
     -fx-graphic: url('icons/empty.png');
     -fx-graphic-text-gap: 5;
 }

#fromFile{
    -fx-graphic: url('icons/file_s.png');
    -fx-graphic-text-gap: 5;
}

/* style sliders */
.slider .track{
    -fx-background-color: -fx-bg-4;
    -fx-padding: 0.15em;
}

.slider .label{
    -fx-text-fill: -fx-cold-800;
    -fx-font-size: 8;
}

.slider .thumb{
    -fx-background-color: -fx-cold-800;
    -fx-font-size: 12;
}

.slider .thumb:hover {
    -fx-background-color: -fx-cold-400;
}

.slider .axis {
    -fx-tick-label-font: 0.7em "PT Sans";
    -fx-tick-label-fill: -fx-cold-800;
}

.slider .axis .axis-tick-mark, .slider .axis .axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: -fx-cold-800;
}

.colorSlider .axis .axis-tick-mark{
    /* hex forms of hsb colors with hue steps of 40 */
    -fx-stroke: linear-gradient(to right, #ff0000, #ffaa00, #aaff00, #00ff00, #00ffaa, #00aaff, #0000ff, #aa00ff, #ff00aa, #ff0004);
}

/* style tooltips */
.tooltip{
    -fx-text-fill: #bababa;
    -fx-background-color: #2a2a2a;
}


